.boxModul{
  box-shadow:7px 7px 8px rgba(0,0,0,0.5);
  border-width:0px;
  border-color:transparent;
  background-color:#FFFFFF;  
    width:320px;
    height: 190px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 35px;

        position: relative;
    padding: 10px;
    padding-top: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

 

  .boxModul h2{
    font-size: 24px;
text-align: center;
    color:black;
  }
  .boxModul a{
    text-decoration : none;
  } 

  @media screen and (max-width: 960px) {
    .boxModul{
      margin:20px ; 
      width:300px;
    }
 
  }