
   .ContientCateg{
    margin: auto;
  }
   .box-container-categ{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      margin-bottom: 40px;
      width: 90%;


    }

.ContientCateg h1 {
       text-align: center;
    font-size:40px; font-weight:700;
    color:rgb(221, 30, 30)
  }

  @media screen and (max-width: 960px) {
  .ContientCateg h1 {
 font-size:30px; font-weight:700;
}
  }